<a href="https://colab.research.google.com/github/Rohan140101/CreditScore/blob/main/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
dataset2 = pd.read_csv('https://raw.githubusercontent.com/JLZml/Credit-Scoring-Data-Sets/master/3.%20Kaggle/Give%20Me%20Some%20Credit/cs-test.csv')
dataset2

        Unnamed: 0  ...  NumberOfDependents
0                1  ...                 0.0
1                2  ...                 2.0
2                3  ...                 2.0
3                4  ...                 0.0
4                5  ...                 1.0
...            ...  ...                 ...
101498      101499  ...                 0.0
101499      101500  ...                 4.0
101500      101501  ...                 NaN
101501      101502  ...                 3.0
101502      101503  ...                 0.0

[101503 rows x 12 columns]

In [ ]:
dataset2 = dataset2.drop(['Unnamed: 0','SeriousDlqin2yrs'], axis=1)
dataset2

        RevolvingUtilizationOfUnsecuredLines  ...  NumberOfDependents
0                                   0.885519  ...                 0.0
1                                   0.463295  ...                 2.0
2                                   0.043275  ...                 2.0
3                                   0.280308  ...                 0.0
4                                   1.000000  ...                 1.0
...                                      ...  ...                 ...
101498                              0.282653  ...                 0.0
101499                              0.922156  ...                 4.0
101500                              0.081596  ...                 NaN
101501                              0.335457  ...                 3.0
101502                              0.441842  ...                 0.0

[101503 rows x 10 columns]

In [ ]:
d_variable = pd.read_csv("https://raw.githubusercontent.com/JLZml/Credit-Scoring-Data-Sets/master/3.%20Kaggle/Give%20Me%20Some%20Credit/sampleEntry.csv")
d_variable

            Id  Probability
0            1     0.080807
1            2     0.040719
2            3     0.011968
3            4     0.067640
4            5     0.108264
...        ...          ...
101498  101499     0.045363
101499  101500     0.343775
101500  101501     0.006970
101501  101502     0.121994
101502  101503     0.044248

[101503 rows x 2 columns]

In [ ]:
dataset2['Probability'] = d_variable['Probability']
dataset2

        RevolvingUtilizationOfUnsecuredLines  ...  Probability
0                                   0.885519  ...     0.080807
1                                   0.463295  ...     0.040719
2                                   0.043275  ...     0.011968
3                                   0.280308  ...     0.067640
4                                   1.000000  ...     0.108264
...                                      ...  ...          ...
101498                              0.282653  ...     0.045363
101499                              0.922156  ...     0.343775
101500                              0.081596  ...     0.006970
101501                              0.335457  ...     0.121994
101502                              0.441842  ...     0.044248

[101503 rows x 11 columns]

In [ ]:
dataset2.isnull().sum()

RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           20103
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       2626
Probability                                 0
dtype: int64

In [ ]:
dataset2 = dataset2.dropna()
dataset2.isnull().sum()

RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
Probability                             0
dtype: int64

In [ ]:
X = dataset2.iloc[:, :-1].values
y = dataset2.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

rmse = mean_squared_error(y_test, y_pred)
rmse*100

0.9059900031529268